@charset "utf-8";
#system_cont-test {
    text-align: left;
}

#chord-box {
    display: inline-block;
    width: calc(100% - 100px);
    height: calc(100% - 210px);
    background-color: #eeeeee;
    border-radius: 5px;
    vertical-align: top;
    overflow: auto;
}

#chord-box>table {
    border-collapse: separate;
    border-spacing: 5px;
    /* width: 100%; */
    -webkit-user-select: none;
}

#chord-box>table th, #chord-box>table td {
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    width: 120px;
    font-size: 15px;
}

#chord-box>table th {
    background-color: #ccccff;
    color: white;
    border: solid 1px #aaaacc;
}

#chord-box>table td {
    background-color: #eeeeff;
    border: solid 1px #ccccee;
}

#chord-box td:hover {
    background-color: #ffffee;
    border: solid 1px #eeeecc;
}

#chord-box td>span {
    display: block;
    margin: 2px 0;
    font-weight: 600;
}

#chord-box td>span:nth-child(2) {
    color: rgba(155, 55, 205, 1);
    transition: opacity, background-color 200ms;
}

#tuning {
    display: inline-block;
    width: 100px;
    /* height: 500px; */
    background-color: #444;
    height: calc(100% - 210px);
    overflow-y: auto;
}

#tuning>.key-item {
    display: block;
    background: linear-gradient(#333333, #999999, #333333);
    border: solid 1px #aaaaaa;
    margin: 1px 3px;
    height: 39px;
    text-align: center;
}


#tuning>.key-item:hover {
    background: linear-gradient(#555, #bbb, #555);
}

#tuning>.key-item > span{
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    color: #eeeeee;
    font-weight: 600;
}

#tuning>.key-item.active {
    background: initial;
    background-color: #c70;
}
